@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  font-family: 'Space Mono', 'Roboto', system-ui, monospace;
  margin: 0;
  padding: 0;
  background-color:#202023;
  color: #e1e1e1;
  line-height: 1.35;
}
button {
  padding: 0;
  border: none;
  background: none
}
.container {
  display: flex;
  justify-content: center;
}
.wrap {
  height: min(750px, 50vw);
  width: min(750px, 50vw);
  border-radius: 50%;
  position: relative;
  margin: auto;
  margin-top: 10vh;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0px #000000;
}
.quart {
  position: absolute;
  height: 50%;
  width: 50%;
  background: rgba(32, 32, 35, .8);
  filter: blur(4px);
}
.quart:first-child {
  top: 0;
  left: 0;
}
.quart:nth-child(2) {
  top: 0;
  left: 50%;
}
.quart:nth-child(3) {
  top: 50%;
  left: 0;
}
.quart:nth-child(4) {
  top: 50%;
  left: 50%;
}
.center {
  height: 70%;
  width: 70%;
  position: absolute;
  top: 15%;
  left: 15%;
  background-image: url('resources/rins_black_hair.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  text-align: center;
  line-height: 160px;
  font-size: 4vw;
  text-shadow: 0px 0px 5px black;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 25px 0px;
}
.quart:hover {
  transition: all 0.3s;
  filter: blur(0px);
  background-color: dimgray;
}
.center:hover {
  transition: all 0.2s ease-in-out;
}
.center:active {
  transform: scale(0.96);
}
